.wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
}

.slider {
  width: 50rem;
  height: 30rem;
  overflow: hidden;
  position: relative;
}

.imageWrapper {
  width: 50rem;
  height: 30rem;
  position: absolute;
  top: 0;
  left: 0;

  &.before {
    width: 55%;
    z-index: 1;
  }

  &.after {
    z-index: 0;
  }
}

.image {
  object-fit: cover;
  object-position: 0%;
}
