.wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
}

.sliderWrapper {
  width: 50rem;
  height: 30rem;
  overflow: hidden;
  position: relative;
}

.imageWrapper {
  width: 50rem;
  height: 30rem;
  position: absolute;
  top: 0;
  left: 0;

  &.before {
    z-index: 1;
  }

  &.after {
    z-index: 0;
  }
}

.image {
  object-fit: cover;
  object-position: 0%;
  pointer-events: none;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  background: rgba(#f2f2f2, 0);
  outline: none;
  margin: 0;
  transition: all 0.2s;
  z-index: 2;
  @include center;
  &:hover {
    background: rgba(#f2f2f2, 0);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 600px;
    background: white;
    cursor: pointer;
  }
}

.sliderButton {
  $size: 30px;
  pointer-events: none;
  position: absolute;
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: white;
  left: calc(50% - 18px);
  top: calc(50% - 18px);
  @include center;
  z-index: 3;
  cursor: pointer;

  @mixin arrow-helper() {
    content: "";
    padding: 3px;
    display: inline-block;
    border: solid #5d5d5d;
    border-width: 0 2px 2px 0;
  }
  &:after {
    @include arrow-helper();
    transform: rotate(-45deg);
  }
  &:before {
    @include arrow-helper();
    transform: rotate(135deg);
  }
}
